.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

img {
  max-height: 200px;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book {
  flex-basis: 25%;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(141, 76, 52, 0.48);
}

.flex-row.between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
